In [2]:
import pandas as pd

### Bài 1: đọc kiểu dữ liệu của dòng 3 (dòng có item_name là Chips and Tomatillo-Green Chili Salsa) cột 4(item_price) từ dataset 
### https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

In [3]:
data = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')
type(data.item_price[3])

str

### Bài 2: chuyển dữ liệu của cột 4 (item_price) về float

In [ ]:
# nhớ xóa dấu $
data.item_price = data.item_price.str.replace('$', '')
data.item_price = data.item_price.astype('float32')
data.item_price.dtypes

<ipython-input-10-36ff8b38fd53>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data.item_price = data.item_price.str.replace('$', '')

dtype('float32')

### Bài 3: Tổng số hàng có dữ liệu là null, tổng số hàng có dữ liệu là nan. liệt kê hết tất cả hàng có dữ liệu là null hoặc nan

In [ ]:
# Code ở đây
data[data.choice_description.isna()]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
6,3,1,Side of Chips,NaN,1.69
10,5,1,Chips and Guacamole,NaN,4.45
14,7,1,Chips and Guacamole,NaN,4.45
...,...,...,...,...,...
4600,1827,1,Chips and Guacamole,NaN,4.45
4605,1828,1,Chips and Guacamole,NaN,4.45
4613,1831,1,Chips,NaN,2.15
4614,1831,1,Bottled Water,NaN,1.50
4616,1832,1,Chips and Guacamole,NaN,4.45

### Bài 4: hiện bảng đã sort theo cột item_name và copy ra một bảng mới

In [ ]:
# Code ở đây
data1 = data.copy()
data1 = data1.sort_values('item_name')
data1

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Bài 5: chọn từ cột item_name đến hết item_price với các dòng từ 0 đến hết 4 và các dòng từ 4617 đến hết và lưu thành dataframe mới với tên là "Bài 5.csv"

In [ ]:
# Dùng to_csv
new_data = data.drop(columns = ['order_id', 'quantity'])
new_data = pd.concat([new_data[0:4], new_data[4617:]])
new_data.to_csv('Bai5.csv')
d = pd.read_csv('Bai5.csv')
d

,Unnamed: 0,item_name,choice_description,item_price
0,0,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,Izze,[Clementine],3.39
2,2,Nantucket Nectar,[Apple],3.39
3,3,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,4617,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
5,4618,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
6,4619,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
7,4620,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
8,4621,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### Bài 6 tìm mean của cột item_price

In [ ]:
# Code ở đây
data['item_price'].mean()

7.464336